/* #GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

main h1 {
  text-align: center;
  margin: 2rem 0;
}

/* * FRAGMENT */
/* navbar */
.navbar {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  cursor: pointer;

  margin: 0 1rem;
  font-size: 1.5rem;

  border: 2px solid lightgrey;
  border-radius: 10px;
  padding: 0.5rem;
  background-color: white;
}

.navbar ul li a {
  color: black;
  text-decoration: none;
}

.navbar ul li:hover {
  background-color: lightblue;
  border: 2px solid gray;
}

/* list of content */
.list-content {
  padding: 2rem;
}

.list-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.list-content-name {
  list-style: none;
  margin: 0.5rem 0;
  margin: 1rem;
}

.list-content-name a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

.card-presentation-container {
  text-align: center;
}

.img-presentation-container img {
  max-height: 15rem;
  padding: 1rem;
  transition: 1s;
  transform: padding;
}

.img-presentation-container:hover img {
  padding: 0rem;
}

/* * back button */
.back-button {
  cursor: pointer;

  height: 3.5rem;
  margin: 1.5rem 2.5rem;

  aspect-ratio: 1;
  border-radius: 50%;
  background-color: lightblue;
}

.back-button img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

/* * MAIN */

.home-main-content {
  margin-top: 5rem !important;
  max-width: 80%;
  margin: auto;
}

.best-of-main {
  text-align: center;
  margin-bottom: 3rem;
}

.home-body-img {
  text-align: center;
  margin-bottom: 2rem;
}

/* * DETAILS PAGE */
.card-info * {
  margin: 1rem 0;
}

.card-info {
  text-align: center;
}

.card-info img {
  max-height: 30rem;
}

.cast-list {
  list-style: none;
  max-width: 50rem;
}

.cast-list li {
  margin: 0 2rem;
}

.cast-container {
  display: inline-block;
  background-color: lightgray;
  border: 1px solid gray;
  border-radius: 10px;
}
