<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    <title>Songs Page</title>
  </head>
  <body>
    <header>
      <th:block th:replace="fragments/header :: navbar(3)"></th:block>
    </header>
    <main>
      <th:block th:replace="fragments/backButton :: backButton"></th:block>

      <th:block
        th:replace="fragments/presentationCardContainer :: cardContainer(songs, ${songs})"
      ></th:block>
    </main>
  </body>
</html>
